<%- include('partials/header', { title: 'Edytuj wpis' }) %>

  <h1>Edytuj wpis</h1>
  <a href="/">Powrót</a>

  <%- include('partials/errors') %>

  <form action="/edit/<%= post.id %>" method="post">
    <p>
      <label>Tytuł:<br>
      <input type="text" name="title" value="<%= post.title %>"></label>
    </p>
    <p>
      <label>Treść:<br>
      <textarea name="content" rows="5"><%= post.content %></textarea></label>
    </p>
    <button type="submit">Zapisz</button>
  </form>

<%- include('partials/footer') %>
